.container {
    background: linear-gradient(180deg, rgba(175, 156, 243, 0) 7.92%, #AF9CF3 86.48%);
background-blend-mode: multiply;
height: 100vh;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
}

.quizBannerContainer{
   display: flex;
   justify-content:center ;
   align-items: center;
   flex-direction: column;
   height: 90%;
}

.quizBanner{
    box-shadow: 0px 8px 8px 0px #0000001A;
    border-radius: 50%;
    height: 332px;
    width: 332px;
    font-size: 50px;
    font-weight: 800;
    color: #FF3B3C;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.buttonContainer{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.startButton {
    border-radius: 80px;
    background-color: #ff3b3f;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    border: 0;
    padding: 20px 0;
    width: 90%;
}

.startButton:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .startButton {
      border-radius: 80px;
      background-color: #ff3b3f;
      color: white;
      font-weight: 900;
      font-size: 2rem;
      margin: 20px 0;
      border: 0;
      padding: 20px 0;
    }
  }
  
  @media (max-width: 1200px) {
    .startButton {
      border-radius: 40px;
      background-color: #ff3b3f;
      color: white;
      font-weight: 900;
      font-size: 1.2rem;
      margin: 20px 0;
      border: 0;
      width: 80%;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  