.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #af9cf3;
}

.mainWrapper {
  flex-grow: 1;
  padding: 80px 20px 20px 20px;
  background-color: white;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.button {
  border-radius: 80px;
  background-color: #ff3b3f;
  color: white;
  font-weight: 900;
  font-size: 4rem;
  margin: 40px 0;
  border: 0;
  padding: 20px 0;
}

.button:disabled {
  background-color: #999;
  color: black;
}

.button:hover {
  cursor: pointer;
}

.progressContainer {
  height: 125px;
  min-height: 125px;
  position: relative;
}

.progressWrapper {
  position: absolute;
  bottom: -60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.question {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.footer {
  background-color: white;
  padding: 0 20px;
}

.optionContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
  max-height: 470px;
  flex-direction: column;
  overflow-y: auto;
}

.currentQuestion {
  font-size: 63px;
  color: black;
  font-weight: 900;
}

.questionTotal {
  color: #999;
  font-size: 16px;
  font-weight: 900;
}

@media (max-width: 768px) {
  .button {
    border-radius: 80px;
    background-color: #ff3b3f;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    margin: 40px 0;
    border: 0;
    padding: 20px 0;
  }
}

@media (max-width: 1200px) {
  .button {
    border-radius: 40px;
    background-color: #ff3b3f;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 40px 0;
    border: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
